<!--
  Generated template for the Bucket page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="nav">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bucket</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let bucketItem of bucketList | async">
      <button ion-item (click)="clickEdit(bucketItem)">
        <h2>
          {{bucketItem.title}}
        </h2>
        <p>
          Rs. {{bucketItem.amount}}
        </p>
        <p>
          Quantity: {{bucketItem.quantity}}
        </p>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="clickRemove(bucketItem.$key)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab bottom right *ngIf="(bucketList | async)?.length > 0">
    <button ion-fab mini (click)="clickCheckout()">
      <ion-icon name="checkmark"></ion-icon>
      </button>
  </ion-fab>
  <div *ngIf="(bucketList | async)?.length == 0" text-center class="center">
    <h2>
      Sorry, you don't have any items in your bucket.
    </h2>
  </div>
</ion-content>